
/* Variables */

//brand colors
$brand: #2c6e9b;

//grays
$ultra-light: #fafafa;
$light: #f1f1f1;
$medium: #999999;
$dark: #222222;

//utility colors
$error: #ff4a4a;

//sizes
$nav-height: 80px;
$mobile-nav-height: 50px;

//site
$body-background-color: $ultra-light;

$font-main: 'Akkurat Pro', Helvetica, Arial, Sans-serif;

