/* --------------------------------------------------------
The variable lists for each font size.

`$regular` is the default size, so don't delete that list.
If making a new list, define at least the `base` size and leading, like in the `$small` list.

The keys in each list correspond to the list of breakpoints defined in `_responsive-breakpoints.scss`.
If a key is supplied that is not in the $breakpoints list, the mixin will throw an error.
-------------------------------------------------------- */


//default sizes
$text-massive: (
  xs: (42px, 54px),
  sm: (60px, 72px),
  md: (76px, 84px),
  lg: (82px, 90px),
  xl: (82px, 90px)
) !default;

$text-huge: (
  xs: (48px, 42px),
  sm: (48px, 54px),
  md: (48px, 54px),
  lg: (48px, 60px),
  xl: (52px, 60px)
) !default;

$text-large: (
  xs: (28px, 36px),
  sm: (28px, 36px),
  md: (36px, 42px),
  lg: (36px, 42px),
  xl: (40px, 48px)
) !default;

$text-medium: (
  xs: (24px, 30px),
  sm: (24px, 30px),
  md: (28px, 36px),
  lg: (28px, 36px),
  xl: (36px, 42px)
) !default;

$text-small: (
  xs: (12px, 18px),
) !default;


$text-regular: (
  xs: (16px, 24px),
  sm: (16px, 24px),
  md: (16px, 24px),
  lg: (16px, 24px),
  xl: (22px, 30px)
) !default;



//custom sizes



